body {
    font-family: Roboto, Arial, Segoe UI;
    background-color: #ccc;
    font-size: 11px;
    padding: 0;
    margin: 0;
    color: #009FD1;
}

.company > .logo {
  width: 25%;
}

.company > .logo > img{
  width: 100%;
}

.company > .phones {
  margin-top: 10px;
  font-size: 20px;
  width: 25%;
  height: 74.5px;
  color: #555;
}

.company > .phones > .glyphicon{
  font-size: 20px;
}

.company > .actions {
  padding-top: 25px;
  width: 50%;
  height: 84.5px;
  font-size: 14px !important;
}

.company > .actions .glyphicon{
  font-size: 18px !important;
  margin-right: 5px;
  color: #009FD1;
}


.main-outer {
  max-width: 900px;
  margin: auto;
  background-color: white;
}

.header {
  height: 40px;
  border-bottom: 1px solid #ccc;
  text-transform: uppercase;
  padding: 0px 12px 0px 12px;
  margin-left: -14px;
}

.header .link {
  padding-top: 12px;
  /* float: left; */
  margin-left: 14px;
  cursor: pointer;
}

.header a {
  line-height: 1;
}

.glyphicon {
  font-size: 11px;
  color: #ccc;
  margin-left: 2px;
  margin-right: 2px;
}

.fl_l {
  float: left;
}
.fl_r {
  float: right;
}

.s-3 {
  width: 33.333333%;
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #fff;
}

li {
  float: left;
  margin-left: 10px;
}

li a {
  display: block;
  color: rgb(61, 93, 233);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  color:  rgb(1, 30, 124);
}
